* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}
input, button , select, textarea{
outline: none !important;
}
input:focus, button:focus{
outline: none !important; 
}
body {
padding: 20px;
font-family: sans-serif;
background-color: white;
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
    .subfondo{
        background-color: #C9F1FD;
        width: 400px;
        height: 540px;
        padding: 30px;
        color: #1464F6;
        border-radius: 50px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        font-weight: bold;
        font-size: 20px;
        transform: translateY(-20px);
input{
   width: 60%;
   padding: 8px;
   margin-bottom: 5px; 
  
}

}
h2{
    font-weight: bold;
    margin-bottom: 10px;
   
}
    } 
.buttback{
  display: flex; 
  align-items: center; 
  gap: 8px;
  padding:0; 
  background: none; 
  border:none;
  transition: opacity 0.2s ease;
  cursor: pointer;
  filter: 0.2s ease;
}
.buttback:active{
  filter: brightness(0.6);
  opacity: 0.8;
}
  /*Estilos de cada Mockup*/
   /* Mockup index*/
.titulo1 {
 margin-bottom: 30px;
 align-self: center;
 font-size: 40px;
}
.input_usuario{
    
    margin-top: 20px;
    margin-left: 55px;
  
}
.input_contra{
    margin-top: 20px;
    margin-left: 20px;
 
}
.recuperacion-page{
   
 margin-left: 110px;
  align-self: center;
  font-size: 14px;  
 color: #1464F6;
  transform: translateY(10px);
}
.boton1{
margin-left: 70px;
  align-self: center;
  background-color: #EBEBEB;
  font-size: 18px;
  border-color: #3D8AF7;
  color: #3D8AF7;
  padding: 10px;  
  width: 200px;
  border-radius: 50px;
  cursor: pointer;
  transform: translateY(-28px);  
}
.registro-page{
   display: block;
   margin-top: -35px;
 margin-left: 130px;
  align-self: center;
  font-size: 14px; 
  color: #1464F6;
}
 /*Mockup recuperacion*/
 .titulo2{
    font-weight: bold;
     margin-left: 50px;
     margin-bottom: 50px;
 }
 
 .usuario_recuperacion{
    font-weight: bold;
     margin-left: 130px;
 }
 
 .correo_numero{
     font-weight: bold;
     margin-left: 1px;
     font-size: 17px;    
 }
 .correo_o_numero_input{
   margin-left: 10px;
  align-self: center;
 }
 .parrafo1{
    color: black;
    font-size: 14px;
    transform: translateY(25px);
 }
.usuario_recuperacion_input{
 margin-left: 10px;
  align-self: center;   
}
 .boton2{
    margin-left: 2px;
  align-self: center;
  background-color: #EBEBEB;
  font-size: 18px;
  border-color: #3D8AF7;
  color: #3D8AF7;
  padding: 10px;  
  width: 200px;
  border-radius: 50px;
  cursor: pointer;
  transform: translateY(25px);
 }
/*Mockup registro*/
.titulo3{
  font-size: 26px;
  transform: translateY(12px);  
}
.nombre1{
  font-size: 16px;   
}
.nombre1_imput{
    width: 50%!important;
    margin-left: 8px;
}
.numero_r{
  font-size: 16px;   
}
.numero_imput_r{
  width: 50% !important; 
  margin-left: 6px; 
}
.correo_r{
  font-size: 16px;
}
.correo_imput_r{
   width: 50% !important; 
   margin-left: 6px; 
}
.usuario_r{
 font-size: 16px;
}
.usuario_input_r{
    width: 50% !important;
    margin-left: 2px;
}
.contraseña_r{
 font-size: 16px;    
}
 .contraseña_adm_r{
   color: red;
    font-size: 16px; 
 }
 .contraseña_input_r{
    margin-left: 62px;
     width: 50% !important;
 }
 .contraseña_adm_input_r{
 margin-left: 27px;
  align-self: center;
   width: 50% !important;
   transform: translateY(-18px);
 }
.parrafo2{
    color: black;
    font-size: 12px;
    transform: translateY(15px);
}
.boton3{
    margin-left: 70px;
  align-self: center;
  background-color: #EBEBEB;
  font-size: 18px;
  border-color: #3D8AF7;
  color: #3D8AF7;
  padding: 10px;  
  width: 200px;
  border-radius: 50px;
  cursor: pointer;
  transform: translateY(12px);
 } 
  