* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

body{
padding: 20px;
font-family: sans-serif;
background-color: #4DD7FA;
}

.menu_lateral{
background-color: transparent;
display: flex;
flex-direction: column;
align-items: center;
width: 250px;
gap: 15px;
transform: translateY(-15px);
margin-left: 20px;
}

button img{
   align-self: center !important;
   width: 60px;
   height: auto; 
   gap: -6px; 
}

.boton_menu{
display: flex;
flex-direction:column;
align-items: center;
 background-color: #6DAFF9;
  border-color: #929292; 
  height: 130px;
  width: 100%;
  padding: 12px;
  align-items: center;
  border-radius: 30px;
 padding: 5px;
font-size: 22px;
font-weight: bold;
color: white;
font-family:Georgia, 'Times New Roman', Times, serif ;
cursor: pointer;
} 

.container2{ 
    display: flex;
    justify-content: space-between;
    align-items: center; 
    min-height: 100vh;
    min-width: 100vh;
}

.subfondo_i1{
    background-color: #EBEBEB;
    border: 2px solid black;
    justify-content: center;
    align-self: right !important;
    height: 560px;
    width: 980px;
    padding: 5px;
    transform: translateY(-18px);
    margin-right: 20px;
}
.subfondo_i2{
    background-color: white;
    border: 2px solid black;
    justify-content: center;
    margin-top: 15px;
    height: 100px;
    width: 94%;
    padding: 5px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
 padding: 15px;
 width: 100%;
    h1{
    font-size: 66px;
    font-family:Georgia, 'Times New Roman', Times, serif ;
    color:#929292;
    margin-left: 30px;
}
}
.grupo-iconos{
    display: flex;
    gap: 15px;

}
.boton_menu2{
    display: flex; 
    justify-content: right; 
    gap: 8px;
    padding:0px;
    background: transparent;
    border: none;
    cursor: pointer;
}